.bg {
  background-image: url('/galaxy@bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* 至少滿足視窗高度 */
  width: 100vw;
  position: relative;
}

.custom-textarea {
  overflow-x:visible; 
  overflow-y:visible;
  resize: none; /* 禁止右下角大小調整 */
}

.text-underline-hover {
  text-decoration: none;
}

.top-buffer {
  margin-top: 20px;
}

.posting.body {
  font-size: 1.2em;
}


.navbar-custom {
  background-color: #0F2540 !important; /* Overrides Bootstrap default */
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.top-buffer {
  margin-top: 20px;
}

.blank-row {
  height: 30px;
}


button.submit {
  z-index: 1; /* Ensures button is clickable */
  cursor: pointer; /* Changes cursor to pointer on hover */
}


#radarChart {
  width: 20%;
  height: 20%;
}

.form-container {
  background-color: rgba(239, 227, 227, 0.672);
  border-radius: 10px; /* 圓角 */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* 柔和陰影 */
  max-width: 70vw; /* 限制最大寬度 */
  width: 60vw; /* 適配小螢幕 */
}

.min-vh-100 {
  min-height: 100vh; /* 滿屏高度 */
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea.form-control {
  resize: none; /* 禁止手動調整大小 */
}

button#syllabus-form-submit {
  width: 30vw; 
}


.fixed-container {
  position: fixed;
  bottom: 20px; /* 距離底部 20px */
  right: 20px; /* 距離右邊 20px */
  display: flex;
  flex-direction: column; /* 垂直排列圖片和文字 */
  align-items: center; /* 內容居中對齊 */
}

#fixed-image {
  height: 250px; /* 設置圖片高度 */
  object-fit: cover; /* 保持圖片比例 */
  margin-top: 2px; /* 與文字的間距 */
}

.fixed-text {
  font-size: 14px; /* 文字大小 */
  text-align: center; /* 文字居中 */
  color: #ffffff; /* 字體顏色 */
}
.hidden {
  display: none !important;
}
.dialog-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); /* 半透明白色背景 */
  border-radius: 10px; /* 圓角 */
  padding: 10px 15px; /* 內邊距 */
  max-width: 250px; /* 設置最大寬度 */
  color: #333; /* 對比良好的文字顏色 */
  font-size: 14px;
  text-align: left;
}
.dialog-box::after {
  content: "";
  position: absolute;
  bottom: -9px; /* 控制三角形的位置 */
  left: 20px; /* 根據需要調整位置 */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.9); /* 三角形顏色和透明度匹配 */
}
