---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Ruby%20one%20hour%20lectures%20tutorials&type=video
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "W8k1A1b6Fe3AUMik5IsOYxzW9e8",
          "nextPageToken": "CAUQAA",
          "regionCode": "TW",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "J0z6mg_PHQOP0ageA44_wB4vv2U",
              "id": {
                "kind": "youtube#video",
                "videoId": "8wZ2ZD--VTk"
              },
              "snippet": {
                "publishedAt": "2017-12-05T20:13:32Z",
                "channelId": "UCvmINlrza7JHB1zkIOuXEbw",
                "title": "Ruby Programming | In One Video",
                "description": "Overview - 1:32 Setup - 3:16 Printing - 3:43 Variables & Data Types - 4:18 Casting - 5:58 Strings - 7:13 Numbers - 8:56 User Input ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Giraffe Academy",
                "liveBroadcastContent": "none",
                "publishTime": "2017-12-05T20:13:32Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "I_XkVBXhjvq6BW3pZcLIpxC39Ww",
              "id": {
                "kind": "youtube#video",
                "videoId": "fmyvWz5TUWg"
              },
              "snippet": {
                "publishedAt": "2020-11-09T14:50:57Z",
                "channelId": "UC8butISFwT-Wl7EV0hUK0BQ",
                "title": "Learn Ruby on Rails - Full Course",
          [...]
[...]
