---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Ruby%20one%20hour%20lectures%20tutorials&type=video
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "rJizA9zi-IF_CIqdg7nXLKQjPAI",
          "nextPageToken": "CAUQAA",
          "regionCode": "TW",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "J0z6mg_PHQOP0ageA44_wB4vv2U",
              "id": {
                "kind": "youtube#video",
                "videoId": "8wZ2ZD--VTk"
              },
              "snippet": {
                "publishedAt": "2017-12-05T20:13:32Z",
                "channelId": "UCvmINlrza7JHB1zkIOuXEbw",
                "title": "Ruby Programming | In One Video",
                "description": "Overview - 1:32 Setup - 3:16 Printing - 3:43 Variables & Data Types - 4:18 Casting - 5:58 Strings - 7:13 Numbers - 8:56 User Input ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/8wZ2ZD--VTk/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Giraffe Academy",
                "liveBroadcastContent": "none",
                "publishTime": "2017-12-05T20:13:32Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "AZrLELWvDg42-neoGkkNo388PVw",
              "id": {
                "kind": "youtube#video",
                "videoId": "xyDoP5a_dvo"
              },
              "snippet": {
                "publishedAt": "2021-01-26T14:30:10Z",
                "channelId": "UCTt7pyY-o0eltq14glaG5dg",
                "title": "Masterclass | Ruby Programming in 1 video | Be[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=xiWUL3M9D8c&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "_PJJ6ulm8p9YOWR3gHIo-CsQo0w",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "kcbOp_jOJeNe2Xw2rCd60PZgpHY",
              "id": "xiWUL3M9D8c",
              "contentDetails": {
                "duration": "PT3H13M",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Fri, 29 Nov 2024 01:57:56 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Analytic%20one%20hour%20lectures%20tutorials&type=video
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"BbmvJAT48Da5_p[...]
- request:
    method: get
    uri: https://api.nthusa.tw/courses/searches?field=english_title&limits=5&value=Analytic
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.005631923675537109'
    body:
      encoding: UTF-8
      string: '[{"id":"11210AES 520100","chinese_title":"環境分析化學","english_title":"Environmental
        Analytical Chemistry","credit":"3","size_limit":"","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"本課程為16週課程","suspend":"","class_room_and_time":"BMES醫環501\tR5R6R7\n","teacher":"黃郁棻\tHUANG,
        YU-FEN\n","prerequisite":"","limit_note":"","expertise":"環境科技學程(第二專長)","program":"","no_extra_selection":"","required_optional_note":"分環所112M  必修\t原科院學士班109B  選修\t"},{"id":"11210BME
        500700","chinese_title":"生醫材料特性分析","english_title":"Analytical and Sensing
        Technologies in Biomedical Sciences","credit":"3","size_limit":"","freshman_reservation":"0","object":"
        ","ge_type":"","language":"英","note":"本課程為16週課程","suspend":"","class_room_and_time":"NTHU
        Lab清實826\tT7T8T9\n","teacher":"萬德輝\tWAN, DE-HUI\n","prerequisite":"","limit_note":"限醫工所","expertise":"","program":"","no_extra_selection":"","required_optional_note":"醫工所112D  選修\t醫工所112M  選修\t"},{"id":"11210CHEM311000","chinese_title":"分析化學一","english_title":"Analytical
        Chemistry (I)","credit":"3","size_limit":"100","freshman_reservation":"0","object":"
        ","ge_type":"","language":"英","note":"本課程上150分鐘，其餘時間由教授彈性運用","suspend":"","class_room_and_time":"CHEM化   B07\tT3T4R3R4\n","teacher":"陳貴通\tTAN,
        KUI THONG\n","prerequisite":"<div>\n  擋修對象 : 全校 <br>\n  先修科目 : <BR><BR>曾修普通化學二<BR><br>上述條件一定要有，則不擋修。</div>","limit_note":"限理學院","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t理學院學士班110B  必修\t"},{"id":"11210CHEM313001","chinese_title":"分析化學實驗一","english_title":"Analytical
        Chemistry Laboratory (I)","credit":"2","size_limit":"33","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"加簽事宜請洽化207廖英孝；召集人陳貴通教授","suspend":"","class_room_and_time":"CHEM化   229\tF1F2F3F4\n","teacher":"廖英孝\tLIAO,
        YING-HSIAO\n","prerequisite":"","limit_note":"化學系大學部3年級4年級,理學院學士班大學部3年級4年級優先，第3次選課起開放全校修習","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t"},{"id":"11210CHEM313002","chinese_title":"分析化學實驗一","english_title":"Analytical
        Chemistry Laboratory (I)","credit":"2","size_limit":"33","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"加簽事宜請洽化207廖英孝；召集人陳貴通教授","suspend":"","class_room_and_time":"CHEM化   229\tW5W6W7W8\n","teacher":"廖英孝\tLIAO,
        YING-HSIAO\n","prerequisite":"","limit_note":"限化學系大學部3年級4年級,理學院學士班大學部3年級4年級","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t"}]'
  recorded_at: Sat, 30 Nov 2024 15:32:48 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=8wZ2ZD--VTk&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "NjvJGoPekgDyiO-7SB9JgH3Ap9s",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "XLvPMbg7hHLNDhrFi6fJ5JoKZtE",
              "id": "8wZ2ZD--VTk",
              "contentDetails": {
                "duration": "PT36M36S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Dec 2024 16:31:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=xyDoP5a_dvo&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "jgu1xGe23rQ1t5cKqoA-mc5qRAk",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "TBpsYjbW_jliX6NaroXfpxZCqRg",
              "id": "xyDoP5a_dvo",
              "contentDetails": {
                "duration": "PT49M35S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Dec 2024 16:31:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=fmyvWz5TUWg&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "8tszX5eQjh98eD3gDEwqlviP-5I",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "JmFLFXKC73Pdlr4ks7qG2yZUARU",
              "id": "fmyvWz5TUWg",
              "contentDetails": {
                "duration": "PT4H3M49S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Dec 2024 16:31:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=oG-H6Qo-EnI&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "e6xk1wrVndIFJsu71MVM4Lod-1U",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "MW-gxGXH012kIlrEVElivNCaVuU",
              "id": "oG-H6Qo-EnI",
              "contentDetails": {
                "duration": "PT26S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Dec 2024 16:31:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=FKTUzPT7244&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "jNJA_4sQT8ebJ0f7Yy1k6Eu0qw4",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "j2DRrkImY2duhX9zVJ7upHgsP7M",
              "id": "FKTUzPT7244",
              "contentDetails": {
                "duration": "PT1H27S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 02 Dec 2024 16:31:10 GMT
recorded_with: VCR 6.3.1
